<div class="d-flex align-items-center justify-content-between mx-5 my-2">
  <h4 class="fw-bold"><%= @chapter.title %></h4>
  <%= link_to 'Back to Manga Details', manga_path(@manga), class: 'btn btn-secondary' %>
</div>
<% if @images.any? %>
  <% @images.each do |url| %>
    <%= image_tag url, alt: "Chapter Image", style: "display: block; max-width: 80%; margin: 0 auto; height: auto;" %>
  <% end %>

  <div style="display:flex;justify-content:center;margin-top:10px;">
    <%= paginate @images %>
  </div>
<% else %>
  <p>No images available.</p>
<% end %>
